<footer class="footer">
  
    <nav class="up_2">
      <div class="up"><a href="#up"><img src="./assets/images/arriba.jpeg" alt="arrowup"></a></div>
      
      </nav>
    <nav class="five_items">
      <ul>
        
        <li><a class="list_item1" href="https://adalab.es/" target="_blank">ARTICLES</a></li>
        <li><a class="list_item1" href="https://adalab.es/" target="_blank">BOOKS</a></li>
        <li><a class="list_item1" href="https://adalab.es/" target="_blank">EVENTS</a></li>
        <li><a class="list_item1" href="https://adalab.es/" target="_blank">REASONS</a></li>
        <li><a class="list_item1" href="https://adalab.es/" target="_blank">TIPS</a></li>

      </ul>
    </nav>
    <nav class="three_items__right">
      <ul>
        <li><a class="list_item2" href="https://adalab.es/" target="_blank">TWITTER</a></li>
        <li><a class="list_item2" href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
        <li><a class="list_item2" href="https://adalab.es/" target="_blank">MASTODON.SOCIAL</a></li>

      </ul>
    </nav>
    <p class="year">©2023</p>
    
    <p class="we-components">
      we    <span class="Text-Style-3">❤︎</span>    components
    </p>
  
</footer>
