<header id="up">
    <nav class="hamburger">
        <a class="adalabweb" href="https://adalab.es/" target="_blank">
            <i class="fa-solid fa-bars bars" style="color: #ffffff;"></i>
    </a>
     </nav>
    <div class="hero">
    

        <h1 class="title">ANONYMOUS PROXY</h1>
        <p class="subtitle">In hac habitasse platea dictumst.</p>
        
    <div >
        <nav class="down_2">
        <div class="down"><a href="#threereasons"><img src="./assets/images/abajo.jpeg" alt="arrowdown"></a></div>
        
        </nav>
</header>

  

    
    
    