<section class="section_2">
  <h2 class="reasons" id="threereasons">3 Reasons To Purchase</h2>
  <div class="latin_text">
    <article>
      <p class="super_text">Ut sed metus</p>
      <p class="text">Lorem ipsum dolor sit amet, consecteur</p>
    </article>
    <article>
      <p class="super_text">Curabitur ac erat</p>
      <p class="text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article>
      <h3 class="super_text">Morbi dictum</h3>
      <p class="text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
    <h2 class="more_reasons">More reasons</h2>
  
</section>
