.footer{
  background-color: #304268;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.list_item1 {
  width: 73px;
  height: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  text-decoration: none;
}

.list_item2 {
  width: 73px;
  height: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  text-decoration: none;
}

.we-components {
  width: 290px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
}

.we-components .Text-Style-3 {
  font-family: ZapfDingbatsITC;
  color: $color-secondary;
}
.year {
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width:768px) { 
.footer{
  width: 768px;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-content: center;

}
.we-components{
  text-align: left;
 
  
}
.year{
  text-align:left;
  
}
.five_items{
text-align: center;
  
}
.three_items{
  text-align:right;
  
  
}
}

