.footer{
    background-color: #304268;
}

.list_item{
    width: 73px;
    height: 150px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.88;
    color: white;
    display: flex;
    align-items: center;
    
  } 
  .five_items{

  }

  .three_items{

  }