.footer {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
}

.up_2 {
  width: 15px;
  height: 15px;
  padding: 18px 12px 15.3px 13px;
  border-radius: 60%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_item1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  text-decoration: none;
}

.list_item2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  text-decoration: none;
}

.we-components {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
}

.we-components .Text-Style-3 {
  font-family: ZapfDingbatsITC;
  color: $color-secondary;
}
.year {
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    padding: 30px 45px;
  }
}
