.hero {
  height: 568px;
 
  align-items: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  margin-bottom: 30px;
  padding: 20px;
  
}

.title {
  width: 290px;
  height: 110px;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  display: block;
  align-items: center;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
}

.subtitle {
  display: inline-block;
  color: white;
  width: 290px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 67%;

}

.bars {
  
  display: flex;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #0271bc;
  align-items: center;
  justify-content: center;

}

.hamburger{
  position: fixed;
}

.down{
  width: 15px;
  height: 15px;
  margin: 45px 122px 0 94px;
  padding: 18px 12px 15.3px 13px;
  border-radius: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down_2{
  position: absolute;
  top: 70%;
  left: 7%;
}

@media screen and (min-width:768px) { 
  .hero {
    display: flex;
    	width: 768px;
    	height: 768px;
	}
  .title{
   
    width: 690px;
    height: 212px;
  }
  .subtitle{
    display: flex;
    width: 360px;
    height: 32px;
   text-align: center;
  }
  .down{
    display: flex;
align-content: center;
    align-items: center;
    justify-content: center;
  }
  .down_2{
    display: flex;
  align-content: center;
    justify-content: center;
  }
}