.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  margin-bottom: 30px;
  padding: 20px;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  text-align: center;
  color: white;
  display: flex;
  margin-bottom: 10px;
}

.subtitle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.bars {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #0271bc;
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: fixed;
}

.down_2 {
  width: 15px;
  height: 15px;
  margin: 45px 122px 0 94px;
  padding: 18px 12px 15.3px 13px;
  border-radius: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
  }
  .title {
    font-size: 80px;
  }
  .subtitle {
    display: flex;
    font-size: 24px;
    text-align: center;
  }
  .down {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .down_2 {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
  }
  .title {
    font-size: 100px;
  }
  .subtitle {
    display: flex;
    font-size: 24px;
    text-align: center;
  }
  .down {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .down_2 {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
