.section_2 {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 100px;
  background-color: #eff9ff;
  justify-content: center;
}

.reasons {
  padding-top: 40px;
  height: 30px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: $color-primary;
}
.super_text {
  width: 184px;
  height: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  text-align: center;
  color: $color-primary;
}

.text {
  display: grid;
  width: 180px;
  height: 63px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $color-primary;
}

.more_reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  border-radius: 22.5px;
  margin-bottom: 60px;
  margin-top: 30px;
  color: white;
  background-color: $color-secondary;
}

@media screen and (min-width: 768px) {
  .section_2 {
    display: grid;
  }
  .latin_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
  }
  .super_text {
    font-size: 22px;
  }
  .text {
    font-size: 20px;
  }
  .reasons {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .section_2 {
    display: grid;
  }
  .latin_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 20px;
  }
  .super_text {
    font-size: 20px;
  }
  .reasons {
    font-size: 32px;
  }
}
