.section_2{
  //*display: flex;
  //flex-direction: column;
  //align-items: center;
  display: grid;
  grid-template-columns: 200px;  
  grid-template-rows: 120px 20px 100px 20px 100px 20px 100px 100px;  
  background-color: #eff9ff;
  justify-content: center;
 
}

.reasons {
  padding-top: 40px;
  width: 290px;
  height: 30px;
  margin: 0 0 45px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: black;
}
.super_text {

  width: 184px;
  height: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  text-align: center;
  color: black;
}

.text {
  display: grid;
  width: 180px;
  height: 63px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.more_reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  border-radius: 22.5px;
  color: white;
  background-color: #f26002;

}
