.section_2{
  display: flex;
  flex-direction: column;
align-items: center;
}

.reasons {
  width: 290px;
  height: 30px;
  margin: 0 0 45px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: black;
}
.super_text {
  width: 184px;
  height: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.text {
  width: 180px;
  height: 63px;
  margin: 30px 2px 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.more_reasons {
  width: 184px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  margin: 45px 53px 0;
  padding: 0 29.5px 0 30.5px;
  border-radius: 22.5px;
  color: white;
  text-align: center;
  background-color: #f26002;
}
