.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insomnia {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 2.14;
  color: #8ccbea;
}

.looking {
  width: 290px;
  height: 60px;
  margin: 1px 0 15px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $color-primary;
}

.donec {
  width: 290px;
  height: 120px;
  margin: 15px 0 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #4a4a4a;
}
.go {
  width: 76px;
  font-size: 20px;
  margin-bottom: 45px;
  height: 45px;
  color: $color-secondary;
  display: flex;
  border-radius: 22.5px;
  border: solid 2px $color-secondary;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .section_1 {
    display: flex;
  }

  .looking {
    font-size: 26px;
    width: 690px;
    height: 45px;
  }
  .donec {
    font-size: 20px;
    width: 690px;
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section_1 {
    display: flex;
  }
  .insomnia {
    display: inline;
    width: 216px;
    height: 30px;
  }
  .looking {
    font-size: 26px;
    width: 690px;
    height: 45px;
  }
  .donec {
    font-size: 20px;
    width: 690px;
    height: 60px;
  }
}

